@charset 'utf-8';
@media (min-width:1000px){
    .wrapper-title{
        font-size: 5rem;
    }

    /* header */
    #header-title{
        font-size: 3rem;
        width: 250px;
    }
    nav{
        display: block;
    }
    header{
        display:flex;
        justify-content: space-between;
    }
    header ul{
        margin-left: 40vw;
        margin-right: 15vw;
    }
    #second-nav{
        display: none;
    }
    #click-menu{
        display: none!important;
    }

    /* about-wrapper */
    #about-wrapper img{
        width: 34vw;
        height: 60vh;
    }
    #about-text{
        display: inline-block;
    }
    
    /* guests-wrapper */
    .guests-title{
        padding-top: 60px;
    }
    .guests-icon{
        width: 24vh;
        height: 24vh;
    }
    
    /* news-wrapper */
    td{
        font-size:2rem;
    }
    .contents-item{
        padding-left: 20px;
    }
    tr{
        border-bottom: 2px solid var(--acsent-color);
    }
    .data-item{
        border-right: 2px solid var(--acsent-color);
    }
    table{
        margin-top: 11.75vh;
    }
}