@charset 'utf-8';
@media (max-width:450px){
    .wrapper-title{
        font-size: 4rem;
    }

    /* header */
    #header-title{
        font-size: 2.3rem;
        margin: 6px 0 0;
        padding: 0;
        font-size: 2.3rem;
    }
    nav{
        display: none;
    }
    #click-menu{
        display: inline-block;
    }

    /* top-wrapper */
    #top-title{
        font-size: 3.75rem!important;
        padding-top: 20vh!important;
    }
    #top-date-wrapper{
        font-size: 1.3rem!important;
        margin-top: 6.5vh;
    }

    /* about */
    #about-text{
        width: 90vw;
    }
    #about-wrapper img{
        width: 85vw;
    }
    /* guests */
    .guests-icon{
        height: 13vh!important;
        width: 13vh!important;
    }
    .guests-name{
        font-size:1.15rem ;
    }
    .guests-text{
        top:2.5rem;
        font-size: .9rem;
    }

    /* news-wrapper */
    td{
        font-size: .9rem;
        padding: 0!important;
    }
    tr{
        height: 10vh;
    }
    .contents-item{
        padding-left: 15px!important;
    }
    table{
        margin-top: 8.5vh!important;
    }

    /* contact */
}
