@charset 'utf-8';
@media screen and (min-width:451px) and (max-width:999px){
    .wrapper-title{
        font-size: 4.7rem;
    }

    /* header */
    #header-title{
        font-size: 2.8rem;
    }
    nav{
        display: none;
    }

    /* top-wrapper */
    #top-title{
        font-size: 7rem;
    }
    #top-date-wrapper{
        margin-top: 10vh;
    }
    #click-menu{
        display: inline-block;
    }

    /* about */
    #about-text{
        width: 60vw;
    }
    #about-wrapper img{
        width: 65vw;
    }

    /* guests */
    .guests-icon{
        height: 20vh;
        width: 20vh;
    }
    .guests-name{
        font-size: 1.365rem;
    }
    .guests-text{
        top:3rem;
    }
    
    /* news-wrapper */
    td{
        font-size: 1.4rem;
    }
    .contents-item{
        padding-left: 10px;
    }
    table{
        margin-top: 12.5vh;
    }
}
